<html>
    <head>
        <meta property="og:type" content="website">
        <meta property="og:title" content="Jayx20 CHAN">
        <meta property="og:description" content="official 4CHAN RIPOFF of Jayx20">
        <meta property="og:url" content="chan.jayx20.com">
        <title>{%block title%}{%endblock%}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
    </head>
    <body>
        <div id="spacebox">
        <header id="header">
            <h3 id="headtitle">Jayx20 CHAN</h3>
            <nav id="navx20">
                <ol>
                    <li><a class="navlink" href="/posts">View Posts</a></li>
                    <li><a class="navlink" href="/newpost">New Post</a></li>
                    <li><a class="navlink" href="/settings">Settings</a></li>
                </ol>
            </nav>
        </header>
        <main>{%block content%}{%endblock%}</main>
    </div>
    </body>
</html>
