{% extends 'base.html' %}
{%block title%}New Post{%endblock%}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h4>Make a new post:</h4>
    <form action="/newpost#" method='post'>
        <p><input name='title' placeholder="Title" maxlength=32 value = {{title if title}}></p>
        <textarea name="content" placeholder="Content" value = {{content if content}} rows="4" cols="50"></textarea>
        <p><input name='color' placeholder="Hex Color Code"></p>
        <p><input type='submit' value='Submit'></p>
        
    </form>
{% endblock %}